.text-justify {
    text-align: justify;
}

ul,
ol {
    list-style: none;
}

/* header  */

header .view-login{
    display: flex;
}
/* 
header{
    margin-left: 48px;
    margin-right: 48px;
} */

.view-btn {
    --bs-btn-hover-bg: #CC9933;
    --bs-btn-bg: #CC9933;
}


/* banner  */
.banner {
    height: 380px;
    background-image: url(../images/gallery.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 1684px;
}

.banner .content h1 {
    top: 216px;
    font-size: 58px;
    --bs-warning-rgb: 204, 153, 51;
}

.banner .content p {
    top: 415px;
}

.banner .content a {
    top: 528px;
}

/* gallery-img  */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 350px;
}

.gallery-item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    opacity: .85;
    cursor: pointer;
}

.gallery-item:hover {
    opacity: 1;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-content {
    font-size: .8em;
}

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5% auto;
}

.lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 7px;
    top: 45%;
    cursor: pointer;
}

.lightbox-prev {
    left: 0;
}

.lightbox-next {
    right: 0;
}

.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}


/* footer  */
footer {
    background-color: #16191E;
    top: 150px;
}

footer .quick-lines {
    margin-top: 90px;
}

footer .opening-hours {
    margin-top: 90px;
}

footer .opening-hours h6 {
    --bs-warning-rgb: 204, 153, 51;
}

footer .get-in-touch {
    margin-top: 90px;
}

footer .f-content {
    display: flex;
}


/* copyright  */
.copyright {
    --bs-warning-rgb: 204, 153, 51;
    top: 150px;
}

.copyright .copy-content {
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
}



@media (max-width: 767px) {
    .gallery-container {
        width: 100%;
    }

    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }

    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }

    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}

@media only screen and (max-width:320px) {

    header .nav {
        display: block;
    }

    header .logo img {
        width: 70px;
    }

    header .view-login{
        display: flex;
    }

    header .view a {
        font-size: 10px;
    }

    header .login a {
        font-size: 10px;
    }

    header .row {
        justify-content: space-between;
    }

    .banner {
        width: 320px;
    }

    .banner .content h1 {
        font-size: 30px;
    }

    footer .f-content {
        display: block;
    }

    footer .f-content .spice {
        text-align: center;
    }

    footer .f-content .spice p {
        margin: 0 auto;
    }

    footer .opening-hours {
        text-align: center;
    }

    footer .get-in-touch {
        text-align: center;
    }

    footer .add {
        justify-content: center;
    }

    footer .contact {
        justify-content: center;
    }

    footer .email {
        justify-content: center;
    }

    footer .spice p {
        font-size: 12px;
        text-align: justify;
    }

    footer .f-content .quick-lines h5 {
        font-size: 17px;
    }

    footer .f-content .quick-lines {
        font-size: 13px;
    }

    footer .f-content .spice .logo img {
        width: 80px;
    }

    .copyright .copy-content {
        display: block;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .copyright .copy-content h5 {
        font-size: 12px;
    }

    .copyright .icons ul {
        justify-content: center;
        padding: 0;
    }

}